.btn-xs {
    padding: 2px;
    position: relative;
    top: -1.5px;
}
.table tbody tr > td.error {
  background-color: #ebcccc !important;
}

.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}

#logout-button {
    background: none;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    color: #428bca;
}

#logout-button:hover {
    background-color: #eee;
    color: #2a6496;
}

.container.paddings {
    padding-left: 15px;
    padding-right: 15px;
}

#class-panel-header {
    padding-top: 2px;
    text-align: right;
}
.classes-container {
    margin-top: 60px;
}
.class-btn {
    display: inline-block;
    margin-left: 25px;
    box-shadow: 0 0 6px grey;
    padding: 2px 15px;
    cursor: pointer;
    border-radius: 2px;
    color: #23c5c1;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.class-btn span.shortcut {
    font-weight: 400;
}

.tag-element {
    display: inline-block;
    margin-left: 25px;
    box-shadow: 0 0 6px grey;
    padding: 2px 20px;
    border-radius: 2px;
    color: rgba(35, 197, 193, 0.6);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}

#regions-mode-tag-container {
    text-align: right;
}

#regions-mode-tag-label {
    display: none;
}

#tips-container {
    padding: 10px 30px;
    margin-top: 10px;
    background: none;
}

#tips-container .number {
    color: #00B1B9;
    font-size: 18px;
    font-weight: 600;
}

#switch-view {
    float: left;
    margin-top: 55px;
}

.delete-tag-button {
    cursor: pointer;
    color: black;
    position: absolute;
    margin-top: -1px;
    margin-left: 7px;
}

.class-btn.active {
    background-color: #609AB6;
    color: #fff;
}

#tags-panel-header {
    padding-top: 6px;
    text-align: right;
}


#login-signup-container {
    margin-top: 90px;
}

.ui-widget.ui-autocomplete {
    z-index: 1100;
}

.modal-dialog {
    z-index: 1050;
}

.control-form {
    margin-top: 50px;
}

tag.active {
    background-color: #cfca7f;
    color: black;
    padding: 2px 10px;
}

tag {
    position: absolute;
    white-space: nowrap;
    background-color: #7C7C7C;
    color: #ffffff;
    padding: 0px 5px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
}

#controls-container {
    padding: 10px 30px;
    margin-top: 10px;
    background: none;
}

#controls-container .number {
    color: #00B1B9;
    font-size: 18px;
    font-weight: 600;
}

#controls-button2 {
    display: none;
}

#tips-button2 {
    display: none;
}

.container {
    padding-left: 0;
    padding-right: 0;
    width: inherit;
}

#back-annotations-button {
    display: none;
}

#class-prominence-container {
    display: none;
    width: 300px;
    background-color: rgb(220, 220, 220);
    position: absolute;
    z-index: 100;
    box-shadow: 10px 10px 5px rgba(40, 40, 40, 0.5);
    border-radius: 0px 5px 5px 5px;
}

#class-prominence-container.active {
    display: block;
}

#class-prominence-container .circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #1D84B9;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

#class-prominence-container .circle.active {
    background: #0b344a;
}

#class-prominence-container .prominence-circles {
    display: inline-block;
}

#class-prominence-container .prominence-label-container {
    display: inline-block;
    width: 90px;
    padding-left: 10px;
}

#class-prominence-container .class-prominence-item {
    padding-bottom: 16px;
    padding-top: 16px;
}

#class-prominence-container .prominence-label {
    display: table-cell;
    padding-bottom: 5px;
    font-weight: 700;
}

#class-prominence-container .fake-item {
    display: none;
}

.finish-annotation-button {
    margin-left: 10px;
}

tag span {
    font-size: 10px;
}