.btn-xs {
    padding: 2px;
    position: relative;
    top: -1.5px;
}
.table tbody tr > td.error {
  background-color: #ebcccc !important;
}

.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}

#delete-modal .modal-dialog {
    z-index: 1060;
}

#delete-modal .modal-footer form {
    display: inline;
    margin-right: 10px;
}