.btn-xs {
    padding: 2px;
    position: relative;
    top: -1.5px;
}
.table tbody tr > td.error {
  background-color: #ebcccc !important;
}

.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}


#logout-button {
    background: none;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    color: #428bca;
}

#logout-button:hover {
    background-color: #eee;
    color: #2a6496;
}

.container.paddings {
    padding-left: 15px;
    padding-right: 15px;
}

#class-panel-header {
    padding-top: 2px;
    text-align: right;
}
.classes-container {
    margin-top: 60px;
}
.class-btn {
    display: inline-block;
    margin-left: 25px;
    box-shadow: 0 0 6px grey;
    padding: 2px 15px;
    cursor: pointer;
    border-radius: 2px;
    color: #23c5c1;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.class-btn span.shortcut {
    font-weight: 400;
}

.tag-element {
    display: inline-block;
    margin-left: 25px;
    box-shadow: 0 0 6px grey;
    padding: 2px 20px;
    border-radius: 2px;
    color: rgba(35, 197, 193, 0.6);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}

#regions-mode-tag-container {
    text-align: right;
}
#regions-mode-tag-label {
    display: none;
}

#tips-container {
    text-align: center;
}

#switch-view {
    float: right;
    margin-top: 35px;
}

.delete-tag-button {
    cursor: pointer;
    color: black;
    position: absolute;
    margin-top: -1px;
    margin-left: 7px;
}

.class-btn.active {
    background-color: #609AB6;
    color: #fff;
}

#tags-panel-header {
    padding-top: 6px;
    text-align: right;
}


#login-signup-container {
    margin-top: 90px;
}

.ui-widget.ui-autocomplete {
    z-index: 1100;
}

.modal-dialog {
    z-index: 1050;
}

.control-form {
    margin-top: 50px;
}

tag.active {
    background-color: #cfca7f !important;
    color: black !important;
    padding: 2px 10px !important;
}

#controls-container {
    padding: 10px 30px;
    margin-top: 10px;
    background: none;
}

#controls-container .number {
    color: #00B1B9;
    font-size: 18px;
    font-weight: 600;
}

.container {
    padding-left: 0;
    padding-right: 0;
    width: inherit;
}

#back-annotations-button {
    display: none;
}

#class-prominence-container {
    display: none;
    width: 300px;
    background-color: rgb(220, 220, 220);
    position: absolute;
    z-index: 100;
    box-shadow: 10px 10px 5px rgba(40, 40, 40, 0.5);
    border-radius: 0px 5px 5px 5px;
}

#class-prominence-container.active {
    display: block;
}

#class-prominence-container .circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #1D84B9;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

#class-prominence-container .circle.active {
    background: #0b344a;
}

#class-prominence-container .prominence-circles {
    display: inline-block;
}

#class-prominence-container .prominence-label-container {
    display: inline-block;
    width: 90px;
    padding-left: 10px;
}

#class-prominence-container .class-prominence-item {
    padding-bottom: 16px;
    padding-top: 16px;
}

#class-prominence-container .prominence-label {
    display: table-cell;
    padding-bottom: 5px;
    font-weight: 700;
}

#class-prominence-container .fake-item {
    display: none;
}

.finish-annotation-button {
    margin-left: 10px;
}

tag span {
    font-size: 10px;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3200;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 3201;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 50%;
        height: 100%;
        background: rgba(0,0,0,0.95);
        z-index: 3200;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
    }

    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #loader-text {
        z-index: 3221;
        color: white;
        position: fixed;
        width: 100%;
        text-align: center;
    }

    .loaded #loader-text {
        display: none;
    }