.btn-xs {
    padding: 2px;
    position: relative;
    top: -1.5px;
}
.table tbody tr > td.error {
  background-color: #ebcccc !important;
}

.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}


#login-signup-container {
    margin-top: 90px;
}

.ui-widget.ui-autocomplete {
    z-index: 1100;
}

.modal-dialog {
    z-index: 1050;
}

.control-form {
    margin-top: 50px;
}

#solve-overlaps-button {
    margin-left: 10px;
}

#controls-container {
    padding: 10px 30px;
}

.container {
    padding-left: 0;
    padding-right: 0;
    width: inherit;
}

#back-annotations-button {
    display: none;
}