{% extends 'annotation_tool/base_normal.html' %}

{% block title %}Annotation tool{% endblock %}

{% block header %}Annotation tool{% endblock %}

{% block body_block %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.4/wavesurfer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>

<div id="waveform"></div>

<div style="text-align: center">
  <button class="btn btn-primary" onclick="wavesurfer.playPause()">
    <i class="glyphicon glyphicon-play"></i>
    Play
  </button>

  <p class="row">
    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-in"></i>
    </div>

    <div class="col-xs-10">
      <input id="slider" type="range" min="1" max="200" value="1" style="width: 100%" />
    </div>

    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-out"></i>
    </div>
  </p>
</div>
&nbsp;
<div>Class</div>

<select class="form-control" id="class_select" onchange="set_class()" style="width: auto;">
    <option value="" selected></option>
	{% for class in classes %}
    	<option value="{{ class.0 }}" >{{ class.0 }}</option>
	{% endfor %}
</select>
</form>
<div>Tags</div>
<input type="text" id="tags" value="">
<button id="tag_button">Save tags</button>

<form method="post" id='class_form' class="form-inline" action="javascript:delete_region();">
<button type="submit" >Delete region</button>
</form>

<script type="text/javascript">

	// WaveSurfer initialization
	function createBuffer(originalBuffer, duration) {
		var sampleRate = originalBuffer.sampleRate
		var frameCount = duration * sampleRate
		var channels = originalBuffer.numberOfChannels 
		return new AudioContext().createBuffer(channels, frameCount, sampleRate)
	}

	function copyBuffer(fromBuffer, fromStart, fromEnd, toBuffer, toStart) {
		var sampleRate = fromBuffer.sampleRate
		var frameCount = (fromEnd - fromStart) * sampleRate
		for (var i = 0; i < fromBuffer.numberOfChannels; i++) {
	    	var fromChanData = fromBuffer.getChannelData(i)
	    	var toChanData = toBuffer.getChannelData(i)
	    	for (var j = 0, f = Math.round(fromStart*sampleRate), t = Math.round(toStart*sampleRate); j < frameCount; j++, f++, t++) {
	        	toChanData[t] = fromChanData[f]
	    	}
		}
	}

	function loadRegions() {
        // Do it with AJAX and return all info for all regions
        {% for event in events %}
        	tags = []
        	{% for tag in event.tags.all %}
        		tags.push( '{{ tag.name }}' )
        	{% endfor %}
	        wavesurfer.addRegion({
	        	attributes: {'class': '{{ event.event_class }}',
	        				 'tags': tags,
	        				 'event_id': {{ event.id }},
	        				 'loaded': true,
	        				 'id_set': true},
	            start: {{ event.start_time }},
	            end: {{ event.end_time }},
	            color: '{{ event.color }}',
	        });
	    {% endfor %}
    }

	var wavesurfer = WaveSurfer.create({
	    container: '#waveform',
	    waveColor: 'violet',
	    progressColor: 'purple',
	    normalize: true
	});

	wavesurfer.load("{% url 'media' segment.wav.name %}")

	var start = {{ segment.start_time }}
	var end = {{ segment.end_time }}
	var duration = end - start

	var isBufferCreated = 0
	var currentRegionId = -1

	wavesurfer.on('ready', function () {
		if (isBufferCreated == 0) {
			isBufferCreated = 1
			// create a new buffer to hold the new clip
			var buffer = createBuffer(wavesurfer.backend.buffer, duration)
			// copy
			copyBuffer(wavesurfer.backend.buffer, start, end, buffer, 0)
			// load the new buffer
			wavesurfer.empty()
			wavesurfer.loadDecodedBuffer(buffer)

			wavesurfer.enableDragSelection({})

			loadRegions()
		}
	});

	var slider = document.querySelector('#slider');

	slider.oninput = function () {
		var zoomLevel = Number(15 * slider.value);
		wavesurfer.zoom(zoomLevel);
	};

	// WaveSurfer callbacks
	wavesurfer.on('region-created', function (region) {
		//console.log(region)
		currentRegionId = region.id
		document.getElementById("tags").value = ""
		select = document.getElementById("class_select")
		select.selectedIndex = 0

		region_data = {}
		region_data['action'] = 'created'
		region_data['annotation'] = '{{ annotation }}'
		region_data['color'] = region.color
		region_data['tags'] = region.attributes['tags']
		console.log(region.attributes['tags'])
		if (!('loaded' in region.attributes)) {
			region.attributes['class'] = "None"
			region.attributes['tags'] = []
			region.attributes['id_set'] = false
			$.ajax({
	            type: "POST",
	            url: '../create_event/',
	            dataType: 'json',
	            data: { region_data: JSON.stringify(region_data),
	            		csrfmiddlewaretoken: '{{csrf_token}}'},
	            success: function(data) {
	            	region = wavesurfer.regions.list[currentRegionId]
			        region.attributes['event_id'] = data.event_id
			        region.attributes['id_set'] = true
	            }
	        });
		} else {
			delete region.attributes['loaded']
		}
	});

	wavesurfer.on('region-update-end', function (region) {
		console.log("update-end")
		if (region.attributes['id_set'] == true) {
			region_data = {}
			region_data['action'] = 'update-end'
			region_data['event_id'] = region.attributes['event_id']
			region_data['start_time'] = region.start
			region_data['end_time'] = region.end

	        $.ajax({
	            type: "POST",
	            url: '../update_end_event/',
	            dataType: 'json',
	            data: { region_data: JSON.stringify(region_data),
	            		csrfmiddlewaretoken: '{{csrf_token}}'},
	            success: function(response) {}
	        });
    	}
	});

	wavesurfer.on('region-updated', function (region) {
		console.log("updated")
		if (region.attributes['id_set'] == true) {
			region_data = {}
			region_data['action'] = 'update'
			region_data['event_id'] = region.attributes['event_id']
			if (region.attributes['class'] != "None") {
				region_data['event_class'] = region.attributes['class']
				region_data['color'] = region.color
			}
			region_data['tags'] = region.attributes['tags']
			$.ajax({
	            type: "POST",
	            url: '../update_event/',
	            dataType: 'json',
	            data: { region_data: JSON.stringify(region_data),
	            		csrfmiddlewaretoken: '{{csrf_token}}'},
	            success: function(response) {}
	        });
		}
	});

	wavesurfer.on('region-removed', function (region) {
		region_data = {}
		region_data['action'] = 'removed'
		region_data['event_id'] = region.attributes['event_id']

		$.ajax({
            type: "POST",
            url: '../remove_event/',
            dataType: 'json',
            data: { region_data: JSON.stringify(region_data),
            		csrfmiddlewaretoken: '{{csrf_token}}'},
            success: function(response) {}
        });
	});

	wavesurfer.on('region-click', function (region, event) {
		currentRegionId = region.id
		if ("tags" in region.attributes){
			document.getElementById("tags").value = region.attributes['tags']
		} else {
			document.getElementById("tags").value = ""
		}
		if ("class" in region.attributes){
			$(select).val(region.attributes['class'])
		} else {
			select.selectedIndex = 0
		}
	});

	// HTML elements callbacks
	$("#tag_button").click(function() {
		if (currentRegionId != -1) {
			region = wavesurfer.regions.list[currentRegionId]
			tags = document.getElementById("tags").value.split(",")
			region.update({
				attributes: {'class': region.attributes['class'],
    				 		 'tags': tags,
    				 		 'event_id': region.attributes['event_id'],
    				 		 'id_set': true},
			})
		}
	});

	function set_class() {
		if (currentRegionId != -1) {
			selected_class = document.getElementById("class_select");
			region_class = selected_class.options[selected_class.selectedIndex].value;
			region = wavesurfer.regions.list[currentRegionId]
			var class_dict = {{ class_dict|safe }};
			for (var i = 0; i < class_dict.length; i++) {
				if (class_dict[i][0] == region_class) {
					region.update({
						attributes: {'class': region_class,
	        				 		 'tags': region.attributes['tags'],
	        				 		 'event_id': region.attributes['event_id'],
	        				 		 'id_set': true},
						color: class_dict[i][1]
					})
				}
			}
		}
	};

	function delete_region() {
		console.log("delete_region")
		if (currentRegionId != -1) {
			region = wavesurfer.regions.list[currentRegionId]
			region.remove()
		}
	};

</script>

{% endblock %}