{% extends 'annotation_tool/base_normal.html' %}

{% block title %}Annotation tool{% endblock %}

{% block header %}Annotation tool{% endblock %}

{% block body_block %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.4/wavesurfer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>

<div id="waveform"></div>

<div style="text-align: center">
  <button class="btn btn-primary" onclick="wavesurfer.playPause()">
    <i class="glyphicon glyphicon-play"></i>
    Play
  </button>

  <p class="row">
    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-in"></i>
    </div>

    <div class="col-xs-10">
      <input id="slider" type="range" min="1" max="200" value="1" style="width: 100%" />
    </div>

    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-out"></i>
    </div>
  </p>
</div>
&nbsp;
<div>Class</div>

<select class="form-control" id="class_select" onchange="set_class()" style="width: auto;">
    <option value="" selected></option>
	{% for class in classes %}
    	<option value="{{ class.0 }}" >{{ class.0 }}</option>
	{% endfor %}
</select>
</form>
<div>Tags</div>
<input type="text" id="tags" value="">
<button id="tag_button">Save tags</button>

<div><button id="autofill_button">Auto-fill</button></div>

<script type="text/javascript">

	function loadRegions() {
        // Do it with AJAX and return all info for all regions
        {% for event in events %}
        	tags = []
        	{% for tag in event.tags.all %}
        		tags.push( '{{ tag.name }}' )
        	{% endfor %}
	        wavesurfer.addRegion({
	        	attributes: {'class': '{{ event.event_class }}',
	        				 'tags': tags,
	        				 'event_id': {{ event.id }},
	        				 'loaded': true},
	            start: {{ event.start_time }},
	            end: {{ event.end_time }},
	            color: '{{ event.color }}',
	        });
	    {% endfor %}
    }

	var wavesurfer = WaveSurfer.create({
	    container: '#waveform',
	    waveColor: 'violet',
	    progressColor: 'purple',
	    normalize: true
	});

	wavesurfer.load("{% url 'media' tmp_segment_path %}")

	var duration = {{ segment.end_time }} - {{ segment.start_time }}
	var class_dict = {{ class_dict|safe }};
	var currentRegionId = -1

	wavesurfer.on('ready', function () {
		wavesurfer.enableDragSelection({})
		loadRegions()
	});

	// WaveSurfer callbacks
	wavesurfer.on('region-created', function (region) {
		console.log("created")
		currentRegionId = region.id
		document.getElementById("tags").value = ""
		select = document.getElementById("class_select")
		select.selectedIndex = 0

		if (!('loaded' in region.attributes) && !('create-silence' in region.attributes)) {
			region.attributes['class'] = "None"
			region.attributes['tags'] = []
		} else if ('loaded' in region.attributes) {
			delete region.attributes['loaded']
		} else if ('create-silence' in region.attributes) {
			delete region.attributes['create-silence']
			region_data = {}
			region_data['annotation'] = '{{ annotation }}'
			region_data['start_time'] = region.start
			region_data['end_time'] = region.end
			region_data['color'] = region.color

			$.ajax({
		        type: "POST",
		        url: '../create_event/',
		        dataType: 'json',
		        data: { region_data: JSON.stringify(region_data),
		        		csrfmiddlewaretoken: '{{csrf_token}}'},
		        success: function(data) {
		        	region = wavesurfer.regions.list[currentRegionId]
			        region.attributes['event_id'] = data.event_id
		        }
			});
		}
	});

	wavesurfer.on('region-update-end', function (region) {
		console.log("update-end")
		currentRegionId = region.id
		region_data = {}
		region_data['start_time'] = region.start
		region_data['end_time'] = region.end
		region_data['annotation'] = '{{ annotation }}'
		region_data['color'] = region.color
		if ('event_id' in region.attributes) {
			region_data['event_id'] = region.attributes['event_id']
		}

        $.ajax({
            type: "POST",
            url: '../update_end_event/',
            dataType: 'json',
            data: { region_data: JSON.stringify(region_data),
            		csrfmiddlewaretoken: '{{csrf_token}}'},
            success: function(data) {
            	region = wavesurfer.regions.list[currentRegionId]
		        region.attributes['event_id'] = data.event_id
            }
        });
	});

	wavesurfer.on('region-updated', function (region) {
		console.log("updated")
		currentRegionId = region.id
		region_data = {}
		region_data['event_id'] = region.attributes['event_id']
		if ('update-class' in region.attributes || 'update-tags' in region.attributes || 'update-times' in region.attributes) {
			if ('update-class' in region.attributes) {
				if (region.attributes['class'] != "None") {
					region_data['event_class'] = region.attributes['class']
					region_data['color'] = region.color
					region_data['update-class'] = true
				} else {
					return
				}
			} else if ('update-tags' in region.attributes) {
				region_data['tags'] = region.attributes['tags']
				region_data['update-tags'] = true
			} else if('update-times' in region.attributes){
				region_data['start_time'] = region.start
				region_data['end_time'] = region.end
				region_data['update-times'] = true
			}

			$.ajax({
	            type: "POST",
	            url: '../update_event/',
	            dataType: 'json',
	            data: { region_data: JSON.stringify(region_data),
	            		csrfmiddlewaretoken: '{{csrf_token}}'},
	            success: function(response) {}
	        });
		}
	});

	wavesurfer.on('region-removed', function (region) {
		console.log("removed")
		console.log(region.attributes['event_id'])
		console.log(wavesurfer.regions.list)
		region_data = {}
		region_data['event_id'] = region.attributes['event_id']

		$.ajax({
            type: "POST",
            url: '../remove_event/',
            dataType: 'json',
            data: { region_data: JSON.stringify(region_data),
            		csrfmiddlewaretoken: '{{csrf_token}}'},
            success: function(response) {}
        });
	});

	wavesurfer.on('region-click', function (region, event) {
		console.log("clicked")
		console.log(region.attributes['event_id'])
		console.log(wavesurfer.regions.list)
		currentRegionId = region.id
		if (event.button == 0 && event.ctrlKey == false) {
			if ("tags" in region.attributes){
				document.getElementById("tags").value = region.attributes['tags']
			} else {
				document.getElementById("tags").value = ""
			}
			if ("class" in region.attributes){
				$(select).val(region.attributes['class'])
			} else {
				select.selectedIndex = 0
			}
		} else if (event.button == 0 && event.ctrlKey == true) {
			region.remove()
		} else if (event.button == 1 && event.ctrlKey == false) {
			if (region.start != 0.0 && region.end != duration){
				region.update({
					attributes: {'class': region.attributes['class'],
						 		 'tags': region.attributes['tags'],
						 		 'event_id': region.attributes['event_id'],
						 		 'update-times': true,
						 		 'old_start_time': region.start,
						 		 'old_end_time': region.end},
					start: 0.0,
					end: duration
				})
			}
		} else if (event.button == 1 && event.ctrlKey == true) {
			region.update({
				start: region.attributes['old_start_time'],
				end: region.attributes['old_end_time'],
				attributes: {'class': region.attributes['class'],
					 		 'tags': region.attributes['tags'],
					 		 'event_id': region.attributes['event_id'],
					 		 'update-times': true},
				 
			})
		}
	});

	wavesurfer.on('region-dbclick', function (region, event) {
		console.log("dbclicked")
		currentRegionId = region.id
		region.update({
			attributes: {'class': region.attributes['class'],
				 		 'tags': region.attributes['tags'],
				 		 'event_id': region.attributes['event_id'],
				 		 'update-times': true},
			start: 0.0,
			end: duration 
		})
	});

	// HTML elements callbacks
	document.addEventListener("keydown", keyDown, false);

	function keyDown(e) {
		region = wavesurfer.regions.list[currentRegionId]
		key = e.key;
		console.log(e)
		for (var i = 0; i < class_dict.length; i++) {
			if (class_dict[i][2] == key) {
				region.update({
					attributes: {'class': class_dict[i][0],
        				 		 'tags': region.attributes['tags'],
        				 		 'event_id': region.attributes['event_id'],
        				 		 'update-class': true},
					color: class_dict[i][1]
				})
				$("#class_select").val(class_dict[i][0])
			}
		}
	}


	$("#tag_button").click(function() {
		if (currentRegionId != -1) {
			region = wavesurfer.regions.list[currentRegionId]
			tags = document.getElementById("tags").value.split(",")
			region.update({
				attributes: {'class': region.attributes['class'],
    				 		 'tags': tags,
    				 		 'event_id': region.attributes['event_id'],
    				 		 'update-tags': true},
			})
		}
	});

//	$("#autofill_button").click(function() {
//		regions_limits = []
//		Object.keys(wavesurfer.regions.list).forEach(function (id) {
//			region = wavesurfer.regions.list[id];
//			regions_limits.push([region.start, region.end])
//		});
//		silent_regions = []
//		regions_limits.sort(function(a,b){
//			return a[1] - b[1];
//		});
//		console.log(regions_limits)
//		if (regions_limits[regions_limits.length - 1][1] < duration) {
//			silent_regions.push([regions_limits[regions_limits.length - 1][1], duration])
//		}
//		regions_limits.sort()
//		console.log(regions_limits)
//		if (regions_limits[0][0] > 0) {
//		silent_regions.push([0.0, regions_limits[0][0]])
//		}
//		for (var i = 1; i < regions_limits.length - 1; i++) {
//			if (regions_limits[i][0] - regions_limits[i-1][1] > 0) {
//				silent_regions.push([regions_limits[i-1][1], regions_limits[i][0]])
//			}
//		}
//		
//		for (var i = 0; i < class_dict.length; i++) {
//			if (class_dict[i][0] == 'Silence') {
//				fill_color = class_dict[i][1]
//			}
//		}
//		console.log(fill_color)
//		for (var i = 0; i < silent_regions.length; i++) {
//	        wavesurfer.addRegion({
//	        	attributes: {'class': 'Silence',
//	        				 'tags': [],
//	        				 'create-silence': true},
//	            start: silent_regions[i][0],
//	            end: silent_regions[i][1],
//	            color: fill_color,
//	        });
//		}
//
//	});

	function set_class() {
		if (currentRegionId != -1) {
			selected_class = document.getElementById("class_select");
			region_class = selected_class.options[selected_class.selectedIndex].value;
			region = wavesurfer.regions.list[currentRegionId]
			for (var i = 0; i < class_dict.length; i++) {
				if (class_dict[i][0] == region_class) {
					region.update({
						attributes: {'class': region_class,
	        				 		 'tags': region.attributes['tags'],
	        				 		 'event_id': region.attributes['event_id'],
	        				 		 'update-class': true},
						color: class_dict[i][1]
					})
				}
			}
		}
	};

</script>

{% endblock %}