{% spaceless %}
{% load staticfiles %}

<html>
<head>
<title>Annotation Tool - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    
<div class="container-fluid">
    <div class="page-header">
        <ul class="nav nav-pills pull-right">
        <li><a href="{% url 'new_annotation' %}">New annotation</a></li>
        <li><a href="{% url 'my_annotations' %}">My annotations</a></li>
        </ul>
        <div class="text-left">
            <h1>{% block header %}{% endblock %}</h1>
        </div>
    </div>

{% block body_block %}{% endblock %}

</div>

</body>
</html>
{% endspaceless %}