{% spaceless %}
{% load staticfiles %}

<html>
<head>
<title>Annotation Tool - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
<script src="{% static 'js/project.js' %}"></script>
</head>
<body>
    
<div class="container-fluid">
    <div class="page-header">
        <ul class="nav nav-pills pull-right">
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'wavs' %}">Wavs</a></li>
	    <li><a href="{% url 'segments' %}">Segments</a></li>
	    <li><a href="{% url 'annotations' %}">Annotations</a></li>
	    <li><a href="{% url 'events' %}">Events</a></li>
        <li><a href="{% url 'classes' %}">Classes</a></li>
        <li><a href="{% url 'upload_data' %}">Upload data</a></li>
          <li>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" id="logout-button" value="Logout">
          </form>
        </li>
        </ul>
        <div class="text-left">
            <h1>{% block header %}{% endblock %}</h1>
        </div>
    </div>

{% block body_block %}{% endblock %}

</div>

</body>
</html>
{% endspaceless %}