{% extends 'annotation_tool/base.html' %}

{% block title %}Events{% endblock %}

{% block header %}Events{% endblock %}

{% block body_block %}

{% if query_data %}
    <form id='filterParams' class="form-inline">
    {% for filter, values in filters.items %}
        <label style="padding-left: 10px; padding-right: 5px;">{{ filter }}</label>
        <select class="form-control" name="{{ values.name }}"  onchange="this.form.submit()" style="width: auto;">
            <option value=""></option>
        {% for choice in values.available %}
            {% if choice == values.selected %}
            	<option value="{{ choice }}" selected>{{ choice }}</option>
	    	{% elif choice == None %}
            {% else %}
            	<option value="{{ choice }}">{{ choice }}</option>
            {% endif %}
        {% endfor %}
        </select>
    {% endfor %}
    </form>

	<table class="table table-striped table-bordered sortable" style="width: auto;">
	<tr>
	<th>ID</th>
	<th>Class name</th>
	<th>Start time</th>
	<th>End time</th>
	<th>Annotation ID</th>
	<th>Annotation name</th>
	<th>Segment ID</th>
	<th>Segment name</th>
	<th>User ID</th>
	<th>Wav name</th>
	<th>Project name</th>
	<th>Tags</th>
	</tr>
	{% for event in query_data %}
		<tr>
		<td>{{ event.id }}</td>
		<td>{{ event.event_class.name }}</td>
		<td>{{ event.start_time }}</td>
		<td>{{ event.end_time }}</td>
		<td>{{ event.annotation.id }}</td>
		<td>{{ event.annotation.name }}</td>
		<td>{{ event.annotation.segment.id }}</td>
		<td>{{ event.annotation.segment.name }}</td>
		<td>{{ event.annotation.user.id }}</td>
		<td>{{ event.annotation.segment.wav.name }}</td>
		<td>{{ event.annotation.segment.wav.project.name }}</td>
		<td>{% for t in event.tags.all %}
					{{ t.name }}
			{% endfor %}</td>
		</tr>
	{% endfor %}
    </table>
    <p>Displaying {{ query_data|length }} events ordered by ID.</p>
{% else %}
	<p>No data is available.</p>
{% endif %}
{% endblock %}