{% spaceless %}
{% load staticfiles %}

<html>
<head>
<title>Annotation Tool{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/wavesurfer.min.js' %}"></script>
<script src="{% static 'js/wavesurfer.timeline.js' %}"></script>
<script src="{% static 'js/wavesurfer.regions.js' %}"></script>
<script src="{% static 'js/sorttable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
</head>
{% endspaceless %}

<form action="" method="post">
    {% csrf_token %}
    {{ form_login }}
    <input type="submit" name="login" value="Log in" />
</form>

<form action="" method="post">
    {% csrf_token %}
    {{ form_signup }}
    <input type="submit" name="signup" value="Sign up" />
</form>