{% extends 'annotation_tool/base_normal.html' %}

{% block title %}New annotation{% endblock %}

{% block header %}New annotation{% endblock %}

{% block body_block %}

{% if query_data %}
    <form id='filterParams' class="form-inline">
    {% for filter, values in filters.items %}
        <label style="padding-left: 10px; padding-right: 5px;">{{ filter }}</label>
        <select class="form-control" name="{{ values.name }}"  onchange="this.form.submit()" style="width: auto;">
            <option value=""></option>
        {% for choice in values.available %}
          <option value="{{ choice.id }}">{{ choice.name }}</option>
        {% endfor %}
        </select>
    {% endfor %}
    </form>
    {% if error %}
      <p class="alert alert-danger fade in alert-dismissable">{{ error }}</p>
    {% endif %}


{% endif %}
{% endblock %}