{% extends 'annotation_tool/base_normal.html' %}

{% block title %}Resume annotation{% endblock %}

{% block header %}Resume annotation{% endblock %}

{% block body_block %}

{% if query_data %}
    <form id='filterParams' class="form-inline">
    {% for filter, values in filters.items %}
        <label style="padding-left: 10px; padding-right: 5px;">{{ filter }}</label>
        <select class="form-control" name="{{ values.name }}"  onchange="this.form.submit()" style="width: auto;">
            <option value=""></option>
        {% for choice in values.available %}
            {% if choice == values.selected %}
            	<option value="{{ choice }}" selected>{{ choice }}</option>
	    	{% elif choice == None %}
            {% else %}
            	<option value="{{ choice }}">{{ choice }}</option>
            {% endif %}
        {% endfor %}
        </select>
    {% endfor %}
    </form>

{% endif %}
{% endblock %}