{% extends base_template %}
{% load staticfiles %}

{% block title %}Annotation tool{% endblock %}

{% block header %}Annotation tool{% endblock %}

{% block body_class %}loaded{% endblock %}

{% block body_block %}

  <script src="{% static 'js/annotator/lib/wavesurfer.min.js' %}"></script>
  <script src="{% static 'js/annotator/src/wavesurfer.regions.js' %}"></script>
  <script src="{% static 'js/annotator/colormap/colormap.min.js' %}"></script>
  <script src="{% static 'js/annotator/lib/wavesurfer.spectrogram.min.js' %}"></script>
  <script src="{% static 'js/annotator/src/wavesurfer.drawer.extended.js' %}"></script>
  <script src="{% static 'js/bootstrap-tokenfield.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/annotator/src/components.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/annotator/src/wavesurfer.labels.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/url.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/annotator/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-tokenfield.min.css' %}">
  <div id="loader-text"><h1>Please wait...</h1></div>
  <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>

  </div>

  <div class="container">
    <div id="tips-container">
      <h3>Annotation Tips:</h3>
      <h5>- Read and get used to the commands below. Annotation will be much easier.</h5>
      <h5>- Do not worry about small silences, we will annotate them for you.</h5>
    </div>
    &nbsp;
    <button id="switch-view" class="btn btn-success">Switch view</button>
    <div id="waveform"></div>

    <div style="text-align: center">
      <button class="btn btn-primary" id="play-pause-main-button">
        <i class="glyphicon glyphicon-play"></i>
        Play /
        <i class="glyphicon glyphicon-pause"></i>
        Pause
      </button>

      <p class="row">
      <div class="col-xs-1">
        <i class="glyphicon glyphicon-zoom-in"></i>
      </div>

      <div class="col-xs-10">
        <input id="slider" type="range" min="1" max="200" value="1" style="width: 100%"/>
      </div>

      <div class="col-xs-1">
        <i class="glyphicon glyphicon-zoom-out"></i>
      </div>
      </p>
    </div>

    {% if not request.is_superuser %}
      <div class="row control-form">
        <div class="col-md-12">
          <div style="float: right;">
            {% if project.overlap %}
              <button id="solve-overlaps-button" class="btn btn-warning">Solve overlaps</button>
              <button id="back-annotations-button" class="btn btn-warning">Back annotations</button>
            {% endif %}
            <button data-load-next="0" class="btn btn-primary finish-annotation-button">Finish annotation</button>
            <button data-load-next="1" class="btn btn-primary finish-annotation-button">Finish annotation and load next</button>
          </div>
        </div>
      </div>
    {% endif %}

    <div id="class-prominence-container">
      <div class="class-prominence-item fake-item">
        <div class="prominence-label-container">
          <div class="prominence-label"></div>
        </div>
        <div class="prominence-circles">
          {% for id, name in prominence_choices %}
            <div class="circle" data-toggle="tooltip" data-placement="bottom" data-id="{{ id }}"
                 title="{{ name }}"></div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row control-form">
      <div class="col-md-1" id="class-panel-header">Class</div>
      <div class="col-md-11">
        {% for name, color, shortcut in classes %}
          <div class="class-btn" data-class-color="{{ color }}" data-class-name="{{ name }}">{{ name }} <span class="shortcut">({{ shortcut }})</span></div>
        {% endfor %}
      </div>
    </div>
    <div class="row control-form tags-input-container">
      <div class="col-md-1" id="tags-panel-header">Tags</div>
      <div class="col-md-6">
        {% if not request.user.is_superuser %}
          <div class="col-md-8">
            <input type="text" class="form-control" id="tags-input" value="">
          </div>
          <div class="col-md-3"><button class="btn" id="tag_button">Save tags</button></div>
        {% endif %}
      </div>
    </div>
    <div class="row control-form">
      <div class="col-md-1" id="regions-mode-tag-container"><span id="regions-mode-tag-label">Tags</span></div>
      <div class="col-md-2"></div>
      <div class="col-md-7" id="tags-container"></div>
    </div>

    <div id="modal-window" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <div class="jumbotron" id="controls-container">
      <h3>Controls:</h3>
      <h5 class="common-control">Space bar plays and pauses the audio.
      </h5>
      {% if not regions %}
      <h5>
          <strong>Click</strong> and <strong>drag</strong> on the waveform to create a <strong>new region</strong>.
          This is now the <strong>selected region</strong>.
      </h5>
      {% endif %}
      <h5 class="common-control">
        <strong>Click</strong> on another <strong>region</strong> to <strong>select
        it</strong>.</h5>
      {% if not regions %}
        <h5><strong>Ctrl-Click</strong> on any <strong>region</strong> to <strong>delete it</strong>.</h5>
        <h5><strong>Click</strong> a <strong>number</strong> to <strong>set</strong> the <strong>class</strong> of the
          selected region.</h5>
        <h5>To <strong>tag a region</strong>: <strong>select it</strong>, write the <strong>tags (use TAB for separate tags)</strong>
          and click <strong>save tags button</strong>.</h5>
        <h5><strong>Regions does not overlap</strong>. <strong>Placing a region limit inside another region adjusts the
          first to the second</strong>. Use this to <strong>easily concatenate regions.</strong></h5>
        <h5>Press <strong>"f"</strong> to <strong>glue</strong> the selected region limits to the closer borders. Do it
          with
          <strong>Ctrl (+ Shift)</strong> to glue only the <strong>left (right) limit</strong>.</h5>
      {% endif %}
      <h5 class="common-control">Press <strong>"s"</strong> to set the <strong>player</strong> at the <strong>beginning</strong>
        of the <strong>audio</strong>.
      </h5>
      <h5 class="common-control">Press <strong>"b"</strong> to set the <strong>player</strong> at the <strong>beginning</strong>
        of the <strong>selected
          region</strong>.</h5>
      {% if not regions %}
      <h5><strong>Ctrl (+ Shift) + Left/Right Arrows</strong> precisely <strong>adjusts</strong> left (right) region
        <strong>limits</strong>.</h5>
      {% endif %}
    </div>
  </div>
  {% if request.user.is_superuser %}
    <style>
      .wavesurfer-region .fa-times-circle {
        display: none;
      }
    </style>
  {% endif %}
  {% if regions %}
    <style>
      .delete-tag-button {
        display: none;
      }
    </style>
  {% endif %}
  <script type="text/javascript">

    function renderNumbersForControlPanel() {
      var index = 0,
          numbers = ['①', '②', '③', '④', '⑤', '⑥', '⑦', '⑧', '⑨', '⑩', '⑪', '⑫', '⑬', '⑭', '⑮'];
      $('#controls-container h5').each(function () {
        $(this).prepend('<span class="number">' + numbers[index++] + '</span>&nbsp;');
      });
    }
    renderNumbersForControlPanel();
  
    wavesurferHandler = {
      // contain all wavesurfers
      container: [],
      labels: [],

      getMainWavesurfer: function() {
        return this.container[0];
      },

      getAllRegions: function() {
        var regions = [];
        this.container.forEach(function (wavesurfer) {
          Object.keys(wavesurfer.regions.list).forEach(function (id) {
            regions.push(wavesurfer.regions.list[id]);
          });
        });
        return regions;
      },

      // Create color map for spectrogram
      getSpectrogramColorMap: function() {
        return colormap({
          colormap: magma,
          nshades: 256,
          format: 'rgb',
          alpha: 1
        });
      },

      addContainerForWavesurfer: function () {
        var mainContainer = $('#waveform'),
            lastContainer = mainContainer.find('.container:last'),
            lastId = lastContainer.length ? parseInt(lastContainer.data('container-id')) : 0,
            classForNewContainer = 'container-' + (lastId + 1);

        // labels
        var labelsContainer = $('<div></div>')
            .addClass('labels');

        // container
        var newContainer = $('<div></div>')
          .append(labelsContainer)
          .attr('data-container-id', lastId + 1)
          .addClass('container ' + classForNewContainer);

        mainContainer.append(newContainer);

        return '.' + classForNewContainer;
      },
      
      addWavesurfer: function () {
        var container = this.addContainerForWavesurfer(),
            colorMap = this.getSpectrogramColorMap(),
            wavesurfer = WaveSurfer.create({
              container: container,
              waveColor: 'violet',
              progressColor: 'purple',
              normalize: true,
              fillParent: true,
              height: WAVESURFER_HEIGHT,
              colorMap: colorMap,
              fftSamples: WAVESURFER_HEIGHT * 2
        });

        wavesurfer.setVolume(0);

        wavesurfer.params.visualization = '{{ visualization }}';

        wavesurfer.load("{% url 'media' tmp_segment_path %}");

        // Create labels (labels that appear above each region)
        var labels = Object.create(WaveSurfer.Labels);
        labels.init({
          wavesurfer: wavesurfer,
          container: container + ' .labels'
        });
        this.labels.push(labels);

        // Create the play button and time that appear below the wavesurfer
        var playBar = new PlayBar(wavesurfer);
        playBar.create();

        this.container.push(wavesurfer);

        this.bindEvents(wavesurfer);

        return wavesurfer;
      },

      isMainWavesurfer: function (wavesurfer) {
        return this.container.length && this.container[0] == wavesurfer;
      },

      seekTo: function (position) {
        this.container.forEach(function (wavesurfer) {
          wavesurfer.seekTo(position);
        });
      },

      disableDragSelection: function () {
        this.container.forEach(function (wavesurfer) {
          wavesurfer.disableDragSelection({});
        });
      },

      findRegionById: function (id) {
        for (var i in this.container) {
          var wavesurfer = this.container[i];
            if (wavesurfer.regions.list[id] != undefined) {
            return wavesurfer.regions.list[id];
          }
        }
        return null;
      },

      getWavesurferByRegion: function (region) {
        if (region != null) {
          for (var i in this.container) {
            var wavesurfer = this.container[i];
            if (wavesurfer.regions.list[region.id] == region) {
              return wavesurfer;
            }
          }
        }
        return null;
      },

      bindEvents: function (wavesurfer) {
        var isMainWavesurfer = this.isMainWavesurfer(wavesurfer),
            that = this;

        wavesurfer.on('region-created', function (region) {
          onRegionCreated(region);
        });

        wavesurfer.on('region-update-end', function (region, event, eventType) {
          if (eventType == 'drag') {
            return;
          }
          setTimeout(function () {
            var check_region = wavesurfer.regions.list[region.id];
            // region was deleted
            if (typeof check_region != 'undefined') {
              onRegionUpdateEnd(wavesurfer, region);
            }
          }, 50);
        });


        wavesurfer.on('region-removed', function (region) {
          setCurrentRegion(-1);
          redrawClassForRegion();
          var region_data = {event_id: region.attributes['event_id']};

          $.ajax({
            type: "POST",
            url: '{% url 'remove_event' %}',
            dataType: 'json',
            data: {
              region_data: JSON.stringify(region_data),
              csrfmiddlewaretoken: '{{csrf_token}}'
            },
            success: function (response) {
              that.checkOverlaps();
            }
          });
        });

        wavesurfer.on('region-dblclick', function (region, event) {
          setCurrentRegion(region.id);
          if (event.button == 0 && event.ctrlKey == false) {
            // open prominence window if Region have multi class
            var classes = typeof region.attributes.class != 'undefined' ? region.attributes.class.split(' ') : [];
            if (REGIONS_STATE && classes.length > 1) {
              toggleProminencePopup(classes, region, $(region.element).offset());
            }
          }
        });

        wavesurfer.on('region-click', function (region, event) {
          if (event.button == 0 && event.ctrlKey == true && !REGIONS_STATE) {
            region.remove();
            setCurrentRegion(-1);
          }
        });

        wavesurfer.on('ready', function () {
          {% if request.user.is_superuser %}
            wavesurfer.initRegions()
            wavesurfer.disableDragSelection({})
          {% else %}
            wavesurfer.enableDragSelection({})
          {% endif %}

          if (isMainWavesurfer) {
            loadRegions(wavesurfer);
            //wavesurfer.play();
            that.labels[0].rearrange();
          }
        });
      },

      updateAllRegions: function () {
        this.getAllRegions().forEach(updateEvent);
      },

      playPause: function () {
        this.container.forEach(function (wavesurfer) {
          wavesurfer.playPause();
        });
      },

      addRegion: function(wavesurfer, classes, tags, id, start_time, end_time, color, loaded) {
        var attrs = {
          'class': classes,
          'tags': tags,
          'region_id': id,
          'event_id': id
        };

        if (loaded) {
          attrs['loaded'] = true;
        } else {
          attrs['created_overlap'] = true;
        }
        var region = wavesurfer.addRegion({
          attributes: attrs,
          start: start_time,
          end: end_time,
          color: color,
          drag: false,
          annotation: classes,
          {% if request.user.is_superuser %}
            resize: false
          {% endif %}
        });

        return region;
      },

      checkOverlaps: function () {
        var overlapWasFound = false,
            that = this;
        this.container.forEach(function (wavesurfer) {
          for (var i in wavesurfer.regions.list) {
            if (overlapWasFound) {
              break;
            }
            var current_region = wavesurfer.regions.list[i];
            that.container.forEach(function (temp_wavesurfer) {
              Object.keys(temp_wavesurfer.regions.list).forEach(function (id) {
                var temp_region = temp_wavesurfer.regions.list[id],
                    overlapType1 = temp_region.start < current_region.start && temp_region.end > current_region.end,
                    overlapType2 = current_region.start < temp_region.start && current_region.end > temp_region.end,
                    overlapType3 = current_region.start < temp_region.start && current_region.end > temp_region.start,
                    overlapType4 = current_region.start > temp_region.start && current_region.start < temp_region.end;
                if (overlapType1 || overlapType2 || overlapType3 || overlapType4) {
                  overlapWasFound = true;
                  return;
                }
              });
            });
          }
        });

      $('#solve-overlaps-button').attr('disabled', !overlapWasFound);
      return overlapWasFound;
    },

      init: function () {
        this.addWavesurfer().setVolume(1);
      }
    };

    wavesurferHandler.create = function (params) {
      var handler = Object.create(wavesurferHandler);
      handler.init(params);
      return handler;
    };


    // init
    var ALLOW_OVERLAPS = {% if project.overlap %}true{% else %}false{% endif %};
    var CLASS_DICT = {{ class_dict|safe }};
    var currentRegionId = -1;
    var OVERLAP_REGION_COLOR = 'rgba(220, 220, 220, 0.8)';
    var WAVESURFER_HEIGHT = 128;
    var REGIONS_STATE = false;
    var handler = new wavesurferHandler.create();

    $('#add-wavesurfer-button').on('click', function () {
      handler.addWavesurfer();
    });

    $('#play-pause-main-button').on('click', function () {
      handler.playPause();
    });

    function switchToRegionMode() {
      REGIONS_STATE = true;
      $('#solve-overlaps-button, region .fa-times-circle, #tag_button, region handle, #tags-input-tokenfield, .tags-input-container, #add-wavesurfer-button').hide();
      //$('#controls-container h5').not('.common-control').hide();
      $('#back-annotations-button, #regions-mode-tag-label').show();
      handler.disableDragSelection();
    }

    function getUniqueItems(items) {
      var unique = [];
      items.forEach(function (item) {
        if (unique.indexOf(item) < 0) {
          unique.push(item);
        }
      });
      return unique;
    }

    function redrawClassForRegion(region) {
      $('.class-btn').removeClass('active');
      if (typeof region != 'undefined' && region != null && 'class' in region.attributes) {
        region.attributes['class'].split(' ').forEach(function (name) {
          if (name) {
            $('div[data-class-name=' + name + ']').addClass('active');
          }
        });
      }
    }

    $('.class-btn').on('click', function () {
      var region = handler.findRegionById(currentRegionId),
          data = $(this).data();
      if (region == null || REGIONS_STATE) {
        return null;
      }
      setClassForRegion(region, data.className, data.classColor);

    });

    function loadRegions(wavesurfer) {
      // Do it with AJAX and return all info for all regions
      {% if regions %}
        {% for region in regions %}
          var tags = [];
          {% for tag in region.tags.all %}
            tags.push('{{ tag.name }}')
          {% endfor %}
          var region = handler.addRegion(wavesurfer, '{{ region.classes.all|join:" " }}', tags, {{ region.id }}, {{ region.start_time }}, {{ region.end_time }}, '{{ region.color }}', true);
          {% if region.classes.count > 1 %}
            region.attributes.classProminences = {};
            {% for class_prominence in region.classes.all %}
              region.attributes.classProminences['{{ class_prominence.class_obj.name }}'] = {{ class_prominence.prominence|default_if_none:'0' }};
            {% endfor %}
          {% endif %}
        {% endfor %}
        switchToRegionMode();
      {% else %}
        {% for event in events %}
          var tags = [];
          {% for tag in event.tags.all %}
            tags.push('{{ tag.name }}')
          {% endfor %}
          handler.addRegion(wavesurfer, '{{ event.event_class|default_if_none:'' }}', tags, {{ event.id }}, {{ event.start_time }}, {{ event.end_time }}, '{{ event.color }}', true);
        {% endfor %}
      {% endif %}
      setCurrentRegion(-1);
    }

    function getDuration() {
      return handler.getMainWavesurfer().getDuration() - 0.1;
    }

    function preventOverlappingsOnCreation(current_region) {
      var new_start = current_region.start,
          new_end = current_region.end,
          wavesurfer = handler.getMainWavesurfer();
      if (new_end > getDuration()) {
        new_end = getDuration()
      }
      Object.keys(wavesurfer.regions.list).forEach(function (id) {
        var region = wavesurfer.regions.list[id]
        if (current_region.start < region.start && current_region.end > region.start) {
          new_end = region.start
        } else if (current_region.end > region.end && current_region.start < region.end) {
          new_start = region.end
        }
      });

      return [new_start, new_end]
    }
    
    
    function updateClassProminence(region_id, className, prominence) {
      $.ajax({
        type: "POST",
        url: '{% url 'class_prominence' %}',
        dataType: 'json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        data: {
          'region_id': region_id,
          'class_name': className,
          'prominence': prominence
        },
        success: function () {
          location.reload();
        }
      });
    }

    function toggleProminencePopup(classes, region, offset) {
      var popup = $('#class-prominence-container'),
          offsetLeft = offset.left;

      // close popup if click on same region
      if (popup.hasClass('active') && popup.offset().left == offsetLeft) {
        popup.removeClass('active');
        return;
      }

      // open popup
      popup.css({
        'top': (offset.top + WAVESURFER_HEIGHT) + 'px',
        'left': offset.left + 'px'
      });
      popup.addClass('active');

      // remove old classes
      popup.find('.class-prominence-item').not('.fake-item').remove();

      // add current classes
      var fakeItem = popup.find('.fake-item');
      for (var i in classes) {
        var newItem = fakeItem.clone(),
            className = classes[i];
        newItem.removeClass('fake-item');
        newItem.find('.prominence-label').text(className);
        var initProminence = region.attributes.classProminences[className];
        newItem.find('.circle[data-id=' + initProminence + ']').addClass('active');
        popup.append(newItem);

        // click on circle for set prominence
        $(newItem).find('.circle').on('click', function () {
          var className = $(this).closest('.class-prominence-item').find('.prominence-label').text(),
              prominence = $(this).data('id');
          updateClassProminence(region.attributes.region_id, className, prominence);
          region.attributes.classProminences[className] = prominence;

          // mark circle as active
          $(this).closest('.prominence-circles').find('.circle').removeClass('active');
          $(this).addClass('active');
        });
      }

      // activate tooltips
      $('[data-toggle="tooltip"]').tooltip();
    }

    function updateEvent(region) {
      var region_data = {
        event_id: region.attributes['event_id'],
        color: region.color,
        start_time: region.start,
        end_time: region.end,
        event_class: region.attributes['class'],
        tags: region.attributes['tags']
      };

      $.ajax({
        type: "POST",
        url: '../update_event/',
        dataType: 'json',
        data: {
          region_data: JSON.stringify(region_data),
          csrfmiddlewaretoken: '{{csrf_token}}'
        },
        success: function (response) {
        }
      });
    }

    function resetHTML() {
      redrawTagsForRegion();
      redrawClassForRegion();
    }
    
    function deleteTagFromRegion(region, tagName) {
      if (typeof region.attributes.tags != 'undefined') {
        var position = region.attributes.tags.indexOf(tagName);
        if (position != -1) {
          region.attributes.tags.splice(position, 1);
          updateEvent(region);
          redrawTagsForRegion(region);
        }
      }
    }
    
    
    function redrawTagsForRegion(region) {
      var container = $('#tags-container');
      container.empty();
      $('#tags-input').val('');

      if (typeof region != 'undefined' && region != null && 'tags' in region.attributes && typeof region.attributes.tags != 'undefined') {
        region.attributes['tags'].forEach(function (name) {
          if (!name.length) {
            return;
          }
          var deleteTagButton = $('<i></i>')
                  .addClass('fa fa-times-circle delete-tag-button')
                  .attr('data-tag-name', name);
          
          var tag = $('<div></div>')
                  .addClass('tag-element')
                  .text(name);

          deleteTagButton.on('click', function () {
            deleteTagFromRegion(region, $(this).data('tag-name'))
          });

          tag.append(deleteTagButton);
          container.append(tag);
        });
      }
    }

    function createNewRegion(fromRegion, callback) {
      if (typeof fromRegion.deleted != 'undefined') {
        if (typeof callback != 'undefined') {
          callback();
        }
        return;
      }
      var regionData = {
        color: fromRegion.color,
        start_time: fromRegion.start,
        end_time: fromRegion.end,
        tags: fromRegion.attributes.tags,
        classes: fromRegion.attributes.class,
        annotation: '{{ annotation.id }}'
      };
      $.ajax({
        type: "POST",
        url: '{% url 'regions' %}',
        dataType: 'json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        },
        data: regionData,
        success: function (response) {
          if (typeof callback != 'undefined') {
            callback();
          }
        }
      });
    }

    function setCurrentRegion(id) {
      currentRegionId = id;
      $('tag').removeClass('active');
      if (currentRegionId != -1) {
        $('.region-label-' + currentRegionId).addClass('active');
        var region = handler.findRegionById(currentRegionId);
        if (region) {
          redrawTagsForRegion(region);
          redrawClassForRegion(region);
          updateRegionIndexes(region);
        }
      }
    }


    function updateRegionIndexes(region) {
      var baseZIndex = 1100;
      $('.wavesurfer-region').each(function () {
        $(this).css('z-index', baseZIndex++);
      });
      $('region[data-id=' + region.id + ']').css('z-index', 3000);
    }

    function disableDrag(region) {
      region.drag = false
    }


    {% if not request.user.is_superuser %}
      // WaveSurfer callbacks
function onRegionCreated(region) {
        setCurrentRegion(region.id)
        disableDrag(region)

        resetHTML()

        if (!('loaded' in region.attributes) && !('created' in region.attributes) && !('created_overlap' in region.attributes)) {
          region.attributes['class'] = "None"
          region.attributes['tags'] = []
        } else if ('loaded' in region.attributes) {
          delete region.attributes['loaded']
        }
      }

      function onRegionUpdateEnd(wavesurfer, region) {
        if (REGIONS_STATE) {
          return;
        }
        setCurrentRegion(region.id);
        var times;
        if (ALLOW_OVERLAPS) {
          times = [region.start, region.end];
          handler.checkOverlaps();
        } else {
          times = preventOverlappingsOnCreation(region)
          region.update({
            start: times[0],
            end: times[1]
          })
        }
        var region_data = {
          start_time: times[0],
          end_time: times[1],
          annotation: '{{ annotation.id }}',
          color: region.color
        };
        if ('event_id' in region.attributes) {
          region_data['event_id'] = region.attributes['event_id']
        }
        $.ajax({
          type: "POST",
          url: '../update_end_event/',
          dataType: 'json',
          data: {
            region_data: JSON.stringify(region_data),
            csrfmiddlewaretoken: '{{csrf_token}}'
          },
          success: function (data) {
            region = wavesurfer.regions.list[currentRegionId];
            region.attributes['event_id'] = data.event_id;
          }
        });
      }





      $("#tag_button").click(function () {
        var region = handler.findRegionById(currentRegionId),
            tokens = $('#tags-input').tokenfield('getTokens'),
            tags = [];
        for (var i in tokens) {
          tags.push(tokens[i].value);
        }
        if (region != null && tags.length) {
          region.attributes.tags = getUniqueItems(tags.concat(region.attributes.tags));
          updateEvent(region);
          redrawTagsForRegion(region);
        }
      });

      $('#back-annotations-button').on('click', function () {
        $.ajax({
          type: "DELETE",
          url: '{% url 'regions' %}',
          dataType: 'json',
          beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          data: {'annotation_id': {{ annotation.id }} },
          success: function () {
            location.reload();
          }
        });
      });

      $('#solve-overlaps-button').on('click', function () {
        var allRegions = handler.getAllRegions();

        // check classes
        var regionsWithoutClass = 0;
        allRegions.forEach(function (region) {
          if (typeof region.attributes.class == 'undefined' || region.attributes.class == 'None' || region.attributes.class == '') {
            regionsWithoutClass += 1;
          }
        });

        if (regionsWithoutClass) {
          var modalWindow = $('#modal-window'),
              text = '<p>Regions without class: ' + regionsWithoutClass + '</p>' +
                  '<p>Please set a class to all regions for solve overlaps.</p>';
          modalWindow.find('.modal-title').text('Error');
          modalWindow.find('.modal-body').html(text);
          modalWindow.modal('show');
          return;
        }

        $('body').removeClass('loaded');

        solveOverlaps(0, allRegions);
      });


      function solveOverlaps(totalOverlapsCount, allRegions) {
        /*
         find overlap
         there is can be 4 types of overlap:
         1. current_region inside temp_region
         2. temp_region inside current_region
         3. current_region.end overlap on temp_region.start
         4. current_region.start overlap on temp_region.end
         5. overlap with multiclasses (limits can be the same)
        */
        var oneMoreIteration = false;
        allRegions.forEach(function (current_region) {
          if (typeof current_region.deleted != 'undefined') {
            return;
          }
          allRegions.forEach(function (temp_region) {
            if (current_region.id == temp_region.id || typeof temp_region.deleted != 'undefined') {
              return;
            }
            var new_region_id = current_region.id + temp_region.id,
                classes = current_region.attributes.class.split(' ').concat(temp_region.attributes.class.split(' ')),
                unique_classes = getUniqueItems(classes),
                current_region_tags = typeof current_region.attributes.tags != 'undefined' ? current_region.attributes.tags : [],
                temp_region_tags = typeof temp_region.attributes.tags != 'undefined' ? temp_region.attributes.tags: [],
                tags = current_region_tags.concat(temp_region_tags),
                new_region_end, new_region_start;

            // Type 1
            if (temp_region.start < current_region.start && temp_region.end > current_region.end) {
              new_region_start = current_region.start;
              new_region_end = current_region.end;

              current_region.update({start: temp_region.start, end: new_region_start});
              current_region.attributes.class = temp_region.attributes.class;
              current_region.attributes.tags = temp_region.attributes.tags;
              temp_region.update({start: new_region_end});
            }
            // Type 2
            else if (current_region.start < temp_region.start && current_region.end > temp_region.end) {
              new_region_end = current_region.end;
              new_region_start = temp_region.end;

             current_region.update({end: temp_region.start});
            }
            // Type 3
            else if (current_region.start < temp_region.start && current_region.end > temp_region.start && temp_region.end > current_region.end) {
              new_region_end = current_region.end;
              new_region_start = temp_region.start;

             current_region.update({end: temp_region.start});
             temp_region.update({start: new_region_end});
            }
            // Type 4
            else if (current_region.start > temp_region.start && current_region.start < temp_region.end && current_region.end > temp_region.end) {
              new_region_end = temp_region.end;
              new_region_start = current_region.start;

             current_region.update({start: new_region_end});
             temp_region.update({end: new_region_start});
            }
            else if (unique_classes.length > 2) {
               // Type 5.1
              if (current_region.start == temp_region.start && current_region.end > temp_region.end) {
                new_region_start = temp_region.start;
                new_region_end = temp_region.end;
                temp_region.deleted = true;

                current_region.update({start: temp_region.end})
              }
              // Type 5.2
              else if (current_region.start == temp_region.start && current_region.end < temp_region.end) {
                new_region_start = current_region.start;
                new_region_end = current_region.end;
                current_region.deleted = true;

                temp_region.update({start: current_region.end})
              }
              // Type 5.3
              else if (current_region.start < temp_region.start && current_region.end == temp_region.end) {
                new_region_start = temp_region.start;
                new_region_end = temp_region.end;
                temp_region.deleted = true;

                current_region.update({end: temp_region.start})
              }
              // Type 5.4
              else if (current_region.start > temp_region.start && current_region.end == temp_region.end) {
                new_region_start = current_region.start;
                new_region_end = current_region.end;
                current_region.deleted = true;

                temp_region.update({end: current_region.start})
              } else {
                return;
              }
            } else {
              return;
            }
            // create regions
            var newRegion = handler.addRegion(
                handler.getMainWavesurfer(),
                unique_classes.join(' '),
                getUniqueItems(tags),
                new_region_id,
                new_region_start,
                new_region_end,
                OVERLAP_REGION_COLOR,
                false //is loaded
            );
            createNewRegion(current_region, function () {
              createNewRegion(temp_region, function () {
                createNewRegion(newRegion, function () {
                  totalOverlapsCount -= 1;
                });
              });
            });
            totalOverlapsCount += 1;
            oneMoreIteration = true;
          });
        });

        var checker = setInterval(function() {
          if (totalOverlapsCount <= 0) {
            clearInterval(checker);
            if (oneMoreIteration) {
              solveOverlaps(totalOverlapsCount, handler.getAllRegions());
            } else {
              location.reload();
            }
          }
        }, 50);
      }
      
      
      function checkClassProminenceIsFilled() {
        if (!REGIONS_STATE) {
          return true;
        }
        var wavesurfer = handler.getMainWavesurfer();
        for (var i in wavesurfer.regions.list) {
          var region = wavesurfer.regions.list[i],
              region_classes = region.attributes.class.split(' ');
          // only regions with multi classes
          if (region_classes.length < 2) {
            continue;
          }
          for (var j in region_classes) {
            var className = region_classes[j];
            if (region.attributes.classProminences[className] == '0') {
              return false;
            }
          }
        }
        return true;
      }


      $(".finish-annotation-button").click(function() {
        var modalWindow = $('#modal-window');
        if (ALLOW_OVERLAPS && handler.checkOverlaps()) {
          modalWindow.find('.modal-title').text('Error');
          modalWindow.find('.modal-body').text('First solve overlaps');
          modalWindow.modal('show');
          return;
        }
        if (!checkClassProminenceIsFilled()) {
          modalWindow.find('.modal-title').text('Error');
          modalWindow.find('.modal-body').text('First you should to set the prominence to all regions with more than one class');
          modalWindow.modal('show');
          return;
        }

        var loadNextAnnotation = $(this).data('load-next');


        $.ajax({
          type: "POST",
          url: '{% url 'finish_annotation' id=annotation.id %}',
          dataType: 'json',
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          data: {},
          success: function (response) {
            var modalWindow = $('#modal-window'),
                text = 'Annotation is finished.';
            if (loadNextAnnotation == '1') {
              // if have next annotation url - redirect
              if (response.next_annotation_url != '') {
                location.href = response.next_annotation_url;
              } else {
                text += '<p><b>There are no more segments to annotate for this project.</b></p>';
              }
            }
            modalWindow.find('.modal-title').text('Success');
            modalWindow.find('.modal-body').html(text);
            modalWindow.modal('show');
          }
        });
      });

      $('#tags-input').tokenfield();


      $('#switch-view').on('click', function () {
        var parsedUrl = url.parse(location.href),
            params = parsedUrl.get,
            port = parsedUrl.port == undefined ? '': (':' + parsedUrl.port);
        if ('visualization' in params) {
          delete params['visualization'];
        } else {
          params['visualization'] = 1;
        }
        var newUrl = parsedUrl.scheme + '://' + parsedUrl.host + port + parsedUrl.path + '?' + $.param(params)
        window.location = newUrl;
      });
    {% endif %}

  </script>

  <script src="{% static 'js/annotator/hotkeys.js' %}"></script>

{% endblock %}